.wrapper {
  position: relative;
}
.offsetButtons {
  position: absolute;
  
}
.offsetButtons.verticalCenter {
  top: 50%;
  transform: translateY(-50%);
}
.offsetButtons.top {
  top: 0%;
  margin-top: 5px;
}
.offsetButtons.right {
  left: 100%;
  margin-left: 10px;
}
.offsetButtons.left {
  right: 100%;
  margin-right: 5px;
}